.polls-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgb(161 161 161 / 41%);
    padding: 15px;
    padding-bottom: 10px;
    background:white;
}
.adminpage.page{position: relative;}
.adminpage .modal.poll-form{
    position: absolute;
}

.polls-section .head {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.polls-section .head h3 {
    font-size: 15px;
    font-weight: 500;
}

.polls-section .row.tab-btns {
    display: flex;
    background: #8d8c8c59;
    gap: 10px;
    padding: 4px;
    border-radius: 10px;
}

.polls-section .row.tab-btns button.active {
    color: black;
    background-color: white;
    cursor: pointer;
}

.polls-section .row.tab-btns button {
    /* width: 100px; */
    border-radius: inherit;
    height: 30px;
    font-size: 13px;
    padding: 0 8px;
    display: flex;
    gap: 5px;
    color: rgb(123, 121, 121);
    align-items: center;
    /* border: 1px solid grey; */
}

.polls-section .row.tab-btns button svg {
    --size: 15px;
    width: var(--size);
    height: var(--size);
}

.polls-section .sub-text {
    /* background: #000; */
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.polls-section .sub-text svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);

}

/* table */
.polls-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    /* border: 1px solid grey; */
    /* background-color: #008000;  */
}
.polls-section table th {
    font-size: 12px;
    font-weight: 500;
    color: rgb(131, 131, 131);
}
.polls-section table th svg{
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.polls-section table td,
.polls-section table th {
    text-align: left;
}

.polls-section table tbody tr td:last-child,
.polls-section table tr th:last-child,
table tbody tr td:nth-child(4),
table tr th:nth-child(4) {
    /* background: #000; */
    text-align: center;
}

.polls-section table tbody tr .date {

    font-size: 12px;
}

.polls-section table tbody tr .users-row {
    font-size: 12px;
    /* display: flex;/
    height: 100%;
    background: #000;*/
}

.polls-section table tbody tr .users-row svg {
    --size: 15px;
    color: #777;
    width: var(--size);
    height: var(--size);
}

.polls-section table tbody tr {
    font-size: 14px;
    height: 80px;
}
.polls-section table tbody tr:not(:last-child) {
    
    border-bottom: 1px solid rgba(156, 159, 156, 0.544);
}

.poll-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.status {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

.status.active {
    background-color: #e0ffe0;
    color: #008000;
}

.status.closed {
    background-color: #e0e0e0;
    color: #555;
}

.poll-description {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.action-btn {
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.action-btn svg{
    --size: 17px;
    position: relative;
    top: 3px;
    margin-right: 4px;
    width: var(--size);
    height: var(--size);
}

.action-btn.close {
    background-color: #ffe0e0;
    color: #ff0000;
    border: none;
}

.action-btn.active {
    background-color: #e0ffe0;
    color: #008000;
    border: none;
}


.poll-form{
    overflow-y: auto;
    background: rgb(243, 243, 243);
    padding: 40px;
}
.poll-form .caption{
    margin-top: 1px;
}

.poll-form .header{
    gap: 10px;
}
.poll-form .header button{
    height: 35px;
    padding: 18px 15px;
    gap: 10px;
}
.poll-form label{
    margin-top: 10px;
}
.poll-form input{
    border: 1px solid #a4a4a4;
    height: 35px;
    border-radius: 10px;
    text-indent: 7px;
    padding-right: 10px;
}
.poll-form .header button svg{
    --size: 20px;
    width: var(--size);
    height: var(--size);
}
.poll-form .option input{
    flex: 1;
}
.poll-form .option button:hover{
    background-color: var(--primary-btn-bg);
}
.poll-form .option button{
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    --size: 32px;
    width: var(--size);
    height: var(--size);
}
.poll-form .option button svg{
    --size: 18px;
    width: var(--size);
    height: var(--size);
}
.poll-form .add-option-btn{
    font-size: 14px;
    width: max-content;
    background-color: white;
    height: 35px;
}
.poll-form .add-option-btn svg{
    --size: 20px;
    margin-right: 5px;
    width: var(--size);
    height: var(--size);
}
.poll-form hr{
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.318);
    margin-block: 10px 5px;
}
.poll-form .create-poll-btn{
    padding: 10px 15px;
    margin-left: 10px;
}
@media screen and (max-width:460px) {
    .adminpage .heading {
        flex-wrap: wrap;
        gap: 15px;
    }

    table th {
        font-size: 11px;
    }

    .adminpage.page {
        padding-left: 25px;
        padding-right: 25px;
    }

    table tr th:nth-child(2),
    table tr th:nth-child(3),
    table tr th:nth-child(4) {
        display: none;
    }

    table tr td:nth-child(2),
    table tr td:nth-child(3),
    table tr td:nth-child(4) {
        display: none;
    }

    .poll-title {
        font-size: 11px;
    }

    .action-btn {
        padding: 6px 6px;
        font-size: 11px;
    }

    .status {
        font-size: 10px;
        padding: 4px;
    }
}