* {
    padding: 0;
    margin: 0;
    /* outline: none; */
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

body>#root {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    --font-style: sans-serif;
    --custom-font-style: 'Sometype Mono', monospace;
    --theme-color: yellow;
    --bod-color: black;
    --svg-primary-bg: aliceblue;
    --accent-color: rgb(207, 207, 249);
    --modal-bg: #000000de;
    font-family: var(--custom-font-style);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    color: var(--bod-color);


    --primary-btn-bg: #17a1cf;
    display: flex;
    overflow-y: hidden;
    /* flex-direction: column; */

}

.page {
    flex: 1;
    padding: 40px;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
}

.page section.heading > div:first-of-type .caption{
    margin-top: 10px;
}

.page .heading button {
    height: 38px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page .heading button svg {
    --size: 20px;
    margin-right: 5px;
    width: var(--size);
    height: var(--size);
}


.page .heading {
    display: flex;
    gap: 10px;
    /* background: #000; */
    justify-content: space-between;
    align-items: center;
}

.page section {
    margin-bottom: 40px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.784);
    z-index: 1;
}



.spinner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-btn-bg);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.primary-btn {
    background-color: var(--primary-btn-bg);
    color: white;
    border-radius: 10px;
    border-style: none;
}

.primary-btn:hover {
    background-color: #62c3e3;
}

.state.badge {
    font-size: 11px;
    width: 70px;
    height: 25px;
    color: green;
    border: 1px solid #8bd58b;
    background-color: #d0ffb6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
    padding-right: 8px;
}
.state.badge.ended {
    background-color: #e0e0e0;
    color: #555;
    border-color: #555;

}


.state.badge svg {
    --size: 30px;
    /* width: var(--size); */
    height: var(--size);
}



.circular-checkbox {
    appearance: none;
    --size: 18px;
    /* padding: 10px; */
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid #02B2AF;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.circular-checkbox:checked {
    background-color: #02B2AF;
}

.circular-checkbox:checked::before {
    content: "✔";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}