

body section.display-none {
    display: none;
}

.svg-solid-yellow {
    fill: #dfdf1a;
    color: #dfdf1a;
}

.svg-outline-yellow {
    color: #dfdf1a;
}

.star-grey {
    color: #f7f7b9;
}

.row {
    display: flex;
}


.cursor-pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.display-flex {
    display: flex;
}

.flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.overflow-hidden {
    overflow: hidden;
}

.align-self-cen {
    align-self: center;
}

.justify-self-cen {
    justify-self: center;
}

.x-flex-align {
    justify-content: center;
}

.algin-left {
    align-items: flex-end;
}

.btn-fill-white {
    background-color: rgb(232, 232, 232);
    color: black;
}

.outline-white {
    border: 1px solid white;
    color: aliceblue;
}

.red {
    background-color: red !important;
}

.svg-white-fill {
    color: var(--svg-primary-bg);
    fill: var(--svg-primary-bg);
}

.display-none {
    display: none;
}

.margin-auto {
    margin: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.fd-row {
    flex-direction: row;
}

.fd-column {
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.algin-items-cen {
    align-items: center;
}

.width100per {
    width: 100%;
}

.no-text-select {
    user-select: none;
}

.disabled-btn {
    border-color: grey;
    color: grey;
}

.disabled-btn:hover {
    border-color: grey;
    color: grey;
    background-color: transparent;
    cursor: default;
}



.caption {
    color: rgb(75 85 99);
}



.grey-btn{
    text-decoration: none;
    padding: 8px 15px;
    font-size: 15px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    cursor: pointer;
}
.grey-btn:hover{
    background-color: var(--primary-btn-bg);
    border-color: var(--primary-btn-bg);
}
